# Red-DiscordBot
wheel==0.45.1
Red-DiscordBot==3.5.17

# persistmessages
duckdb==1.2.2

# coffee-cogs/msgmover
requests==2.32.3

# aiohttp-json-rpc patch
aiohttp-json-rpc @ https://github.com/yellow-corps/aiohttp-json-rpc/releases/download/v0.13.3%2Byellow-corps/aiohttp-json-rpc-0.13.3+yellow.corps.tar.gz
